@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
  :root {
    /* colors */
    --hue: 0;
    --sat: 0%;
    --color-dark-1: hsl(var(--hue), var(--sat), 0%);
    --color-dark-2: hsl(var(--hue), var(--sat), 20%);
    --color-dark-3: hsl(var(--hue), var(--sat), 46%);
    --color-light-1: hsl(var(--hue), var(--sat), 98%);
    --color-light-2: hsl(var(--hue), var(--sat), 100%);

    /* font-size */
    --text-large: 2.75rem;
    --text-h1: 1.5rem;
    --text-h2: 1.25rem;
    --text-h2: 1rem;
    --text-body-1: 0.938rem;
    --text-body-2: 0.813rem;
    --text-body-3: 0.75rem;
    --text-body-4: 0.625rem;

    /* z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* header */
    --header-height: 3rem;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-poppins text-body-1 text-dark-3 bg-light-1;
  }

  h1,
  h2,
  h3 {
    @apply text-dark-2 font-semibold;
  }
}

@layer components {
  .container {
    max-width: 968px;
  }
  .section {
    @apply pt-8 md:pt-24 pb-16 md:pb-8;
  }
  .section-title {
    @apply text-h1 text-dark-1 text-center;
  }
  .section-subtitle {
    @apply block text-body-2 mb-12 md:mb-16 text-center;
  }
}
